<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="True">

    <title>Simpler-Sidebar: Left Top</title>
    <meta name="description" content="A simple side nav in jQuery.">

    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图像检索</title>
    <link rel="icon" type="image/png" href="assets/images/search.png">
    <link rel="stylesheet" type="text/css" href="assets/css/ui-cropper.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.8/angular-material.css" rel="stylesheet" />
    <link href="https://material.angularjs.org/1.1.8/docs.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.8/angular-material.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/ng-file-upload.min.js"></script>
    <script src="assets/js/ng-file-upload-shim.min.js"></script>
    <script src="assets/js/ui-cropper.js"></script>

    <meta property="og:title" content="图像检索" />
    <meta property="og:type" content="article" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118968561-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118968561-2');
    </script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
    <script src="dist/jquery.simpler-sidebar.min.js"></script>
    <script src="assets/js/sidebar/main-sidebar-left-top.js"></script>



  </head>
  <script type="text/javascript">

    //inject ngFileUpload and ngImgCrop directives and services.
    var app = angular.module('fileUpload', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache',
      'ngFileUpload', 'uiCropper']);
    app.controller('fileController', ['$scope', '$http', '$timeout', '$httpParamSerializerJQLike', 'ngfDataUrlFilter',
      function ($scope, $http, $timeout, $httpParamSerializerJQLike, ngfDataUrlFilter) {
        document.getElementById('cropper').style['display'] = 'block';
        document.getElementById('tiles').style['display'] = 'flex';
        document.getElementById('messages').style['display'] = 'block';


        $scope.updateImage = function (filename) {
          $scope.picFileUpdated = window.location.href + filename;
        };

        $scope.test_images = [
          { 'url': 'assets/images/test_1.jpg' },
          { 'url': 'assets/images/test_2.jpg' },
          { 'url': 'assets/images/test_3.jpg' }
        ]

        $scope.upload = function (dataUrl) {
          if (dataUrl) {
            $http({
              method: 'POST',
              url: 'http://localhost:5000/predict',
              data: JSON.stringify(dataUrl.replace("data:image/png;base64,", "")),
              headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            }).then(function (response) {
              $timeout(function () {
                $scope.predictions = response.data.predictions;
                for (i = 0; i < $scope.predictions.length; i++) {
                  var num = Math.floor(Math.random() * 4) + 2;
                  $scope.predictions[i].stars = new Array(num);
                  $scope.predictions[i].stars_empty = new Array(5 - num);
                  if ($scope.predictions[i].title == 'NA') {
                    $scope.predictions[i].title = ''
                  }
                  if ($scope.predictions[i].price == 'NA') {
                    $scope.predictions[i].price = '19.99'
                  }
                }
              });
            }, function (response) {
              if (response.status > 0) $scope.errorMsg = response.status
                      + ': ' + response.data;
            }, function (evt) {
              $scope.progress = parseInt(100.0 * evt.loaded / evt.total);
            });
          }
        }

        $scope.$watchCollection('picFile', function () {
          if ($scope.picFile) {
            $scope.picFileUpdated = ngfDataUrlFilter($scope.picFile);
          }
        }, true);

        $scope.drag = function ($isDragging, $class, $event) {

          if ($isDragging) {
            $('#dropArea').addClass('draggedOver');
            $('#textInfo').addClass('draggedOver');
            $('#uploadIcon').addClass('draggedOver');
          } else {
            $scope.removeClasses();
          }
        }

        $scope.removeClasses = function () {
          $('#dropArea').removeClass('draggedOver');
          $('#textInfo').removeClass('draggedOver');
          $('#uploadIcon').removeClass('draggedOver');
        }

        $scope.onImageUpdated = function () {
          if ($scope.picFileUpdated != undefined) {

            $('#cropper').height($('#cropper canvas')[0].height);
            $('#cropper canvas').css('visibility', 'visible');
            $('#cropper').css('background-color', 'rgba(0,0,0,0.5)');
            $('#dropArea').height(60);
            $scope.removeClasses();
            $timeout(function () {

              $scope.upload($scope.croppedDataUrl)
            }, 200);
          }
        }

        $scope.onLoadDone = function () {
          $scope.removeClasses();

        }

        $scope.resetCanvasHeight = function () {
          $('#cropper').height(Math.max($(window).width(), 800));
        }

        $(function () {
          $('#cropper').css('max-height', Math.min(800, $(window).width()));
        });
      }])
            .config(function ($mdThemingProvider) {
              $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
              $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
              $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
              $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();
            });

  </script>
  <body>
    <header class="main">


    </header><!--main-->

    <main>
      <div class="container" id="first">

        <div class="visualSearch1">
          <div class="header">
            <h1>
              <img id="visual_search_logo" src="assets/images/search.png">图像检索
            </h1>
          </div>
          <div ng-app="fileUpload" mat-app-background basic-container id="appContainer" ng-controller="fileController">
            <form id="myForm" name="myForm">
              <div ngf-drop ngf-drag="drag($isDragging, $class, $event)" id="dropArea" ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                <div id="textInfo" class="centered">
                  <span id="textInfoText">点击上传图片 &rarr;</span>
                  <span id="textInfoText_mobile">Upload a picture &rarr;</span>
                  <div ngf-select ng-model="picFile" ngf-capture="'camera'" accept="image/*">
                    <svg id="uploadIcon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                            <path d="M50,40c-8.285,0-15,6.718-15,15c0,8.285,6.715,15,15,15c8.283,0,15-6.715,15-15,C65,46.718,58.283,40,50,40z M90,25H78c-1.65,0-3.428-1.28-3.949-2.846l-3.102-9.309C70.426,11.28,68.65,10,67,10H33,c-1.65,0-3.428,1.28-3.949,2.846l-3.102,9.309C25.426,23.72,23.65,25,22,25H10C4.5,25,0,29.5,0,35v45c0,5.5,4.5,10,10,10h80,c5.5,0,10-4.5,10-10V35C100,29.5,95.5,25,90,25z M50,80c-13.807,0-25-11.193-25-25c0-13.806,11.193-25,25-25,c13.805,0,25,11.194,25,25C75,68.807,63.805,80,50,80z M86.5,41.993c-1.932,0-3.5-1.566-3.5-3.5c0-1.932,1.568-3.5,3.5-3.5,c1.934,0,3.5,1.568,3.5,3.5C90,40.427,88.433,41.993,86.5,41.993z"
                            />
                        </svg>
                  </div>
                </div>
              </div>
              <div id="messages" style="display: none">
                <span class="progress" ng-show="progress >= 0">
                    <div id="loadingProgress" style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
                <span ng-show="result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
              </div>
            </form>
            <ui-cropper ng-show="croppedDataUrl" id="cropper" image="picFileUpdated" area-type="rectangle" on-load-begin='resetCanvasHeight()'
                        on-load-done='onLoadDone()' on-change='onImageUpdated()' result-image="croppedDataUrl" ng-init="croppedDataUrl=''"
                        style="display: none"></ui-cropper>

            <md-content ng-show="predictions" class="md-padding" layout-xs="column" layout="row" layout-wrap id="tiles" style="display: none">
              <md-card ng-repeat="pred in predictions" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
                <md-card-title>
                  <h4>{{pred.title}}</h4>
                </md-card-title>
                <md-card-content>
                  <a href="https://www.amazon.com/dp/{{pred.ASIN}}?tag=thomasdelteil-20"><img ng-src="{{'https://images.weserv.nl/?url='+pred.url.slice(7)}}" class="md-card-image" alt="Washed Out"></a>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end left">
                  <md-button>${{pred.price}}</md-button>
                  <md-button class="stars">
                    <img ng-repeat="i in pred.stars track by $index" src="assets/images/star-icon.png" width="20">
                    <img ng-repeat="i in pred.stars_empty track by $index" src="assets/images/star-icon-empty.png" width="20">
                  </md-button>
                </md-card-actions>
              </md-card>
            </md-content>
          </div>
        </div>

      </div><!--container-->
    </main>

    

    <div class="navbar main" id="navbar-main">
      <div id="sidebar-main-trigger" class="icon float-left">
        <img src="assets/imgs/icon-menu-24px-x2.png" width="24px" alt="Menu Icon" />
      </div>
    </div><!--.navbar.main-->

    <div class="sidebar main left" id="sidebar-main">
      <div class="wrapper">
        <nav>
          <ul>
            <li class="title">Playground</li>
            <li><a href="../../simpler-sidebar/demo/index.html">Home</a></li>
            <li><a href="../../simpler-sidebar/demo/right.html">Right</a></li>
            <li><a href="../../simpler-sidebar/demo/right-top.html">Right Top</a></li>
            <li><a href="../../simpler-sidebar/demo/left.html">Left</a></li>
            <li><a href="./left-top.html">Left Top</a></li>
            <li><a href="../../simpler-sidebar/demo/jquery-v2.html">jQuery v2</a></li>
            <li><a href="../../simpler-sidebar/demo/jquery-v3.html">jQuery v3</a></li>
            <li><a href="../../simpler-sidebar/demo/right-left.html">Right and Left</a></li>
            <li><a href="../../simpler-sidebar/demo/init-opened.html">Init Opened</a></li>
            <li><a href="../../simpler-sidebar/demo/no-mask.html">No Mask</a></li>
            <li><a href="../../simpler-sidebar/demo/allow-scrolling.html">Allow Scrolling</a></li>
            <li><a href="../../simpler-sidebar/demo/custom-functions.html">Custom Functions</a></li>
            <li><a href="../../simpler-sidebar/demo/ajax.html">Ajax</a></li>
            <li><a href="../../simpler-sidebar/demo/browserify.html">Browserify</a></li>
          </ul>
        </nav>

        <nav id="debug">
          <ul>
            <li class="title">Debug These</li>
            <li><a>No href</a></li>
            <li><a class="quitter" href="#">A link with the quitter class</a></li>
            <li><a href="#" target="_blank">A link without the quitter class</a></li>
            <li><span class="quitter">A span element with the quitter class</span></li>
            <li><span>A span element without the quitter class</span></li>
          </ul>
        </nav>
      </div>
    </div><!--#sidebar-main-->


  </body>
</html>
